In [1]:
# Dependencies
import pandas as pd

In [21]:
# Read csv into a dataframe
crime_df = pd.read_csv("Resources/crime_report.csv")
crime_df

,CASE NUMBER,DATE,TIME,CODE,INCIDENT TYPE,INCIDENT,POLICE GRID NUMBER,NEIGHBORHOOD NUMBER,NEIGHBORHOOD NAME,BLOCK,CALL DISPOSITION CODE,CALL DISPOSITION,Count
0,18218701,09/22/2018,23:32:12,9954,Proactive Police Visit,Proactive Police Visit,105.0,13,13 - Union Park,137X STANTHONY AV,A,Advised,1
1,17042545,02/27/2017,6:56,1400,Criminal Damage to Property,Vandalism,71.0,6,6 - North End,13X WINNIPEG AV,A,Advised,1
2,19063393,03/29/2019,2019-03-29T00:14:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,98.0,1,1 - Conway/Battlecreek/Highwood,166X MARGARET ST,RR,Report Written,1
3,16260773,12/21/2016,19:29,1410,"Criminal Damage to Property (Misdemeanor, Unde...",Vandalism,70.0,6,6 - North End,84X GALTIER ST,RR,Report Written,1
4,18109307,05/23/2018,6:41:13,9954,Proactive Police Visit,Proactive Police Visit,207.0,9,9 - West Seventh,108X MONTREAL AV,A,Advised,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
253704,20093597,05/19/2020,2020-05-19T00:44:03.000,600,"Theft, Except Auto Theft",Theft,153.0,17,17 - Capitol River,34X JACKSON ST,G,Gone on Arrival,1
253705,20802568,05/17/2020,2020-05-17T12:15:00.000,641,"Theft, From Auto, Under $500",Theft,153.0,17,17 - Capitol River,11X KELLOGG BD E,RR,Report Written,1
253706,20094807,05/20/2020,2020-05-20T14:00:00.000,622,"Theft, Purse Snatching, $501 to $1000",Theft,153.0,17,17 - Capitol River,5 ST E & MINNESOTA,RR,Report Written,1
253707,20093563,05/18/2020,2020-05-18T23:33:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,153.0,17,17 - Capitol River,5 ST E & CEDAR,RR,Report Written,1
253708,20093746,05/19/2020,2020-05-19T08:12:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,153.0,17,17 - Capitol River,10X 5 ST E,RR,Report Written,1

In [3]:
# Pull out all rows with nan's just to see
crime_nan = crime_df[crime_df.isna().any(axis=1)]
crime_nan

,CASE NUMBER,DATE,TIME,CODE,INCIDENT TYPE,INCIDENT,POLICE GRID NUMBER,NEIGHBORHOOD NUMBER,NEIGHBORHOOD NAME,BLOCK,CALL DISPOSITION CODE,CALL DISPOSITION,Count
1020,18054879,03/17/2018,8:59:26,9954,Proactive Police Visit,Proactive Police Visit,NaN,3,3 - West Side,LILYDALE RD & WATER,A,Advised,1
2698,18071249,04/08/2018,2:49:00,1835,"Narcotics, Possession of Marijuana",Narcotics,NaN,10,10 - Como,DALE ST N & IOWA,RR,Report Written,1
6431,18008414,01/13/2018,5:27:01,9954,Proactive Police Visit,Proactive Police Visit,NaN,5,5 - Payne/Phalen,60X LAFAYETTE RD S,A,Advised,1
10170,18224827,09/30/2018,00:50:09,9954,Proactive Police Visit,Proactive Police Visit,NaN,5,5 - Payne/Phalen,50X LAFAYETTE RD,A,Advised,1
11561,18025800,02/06/2018,9:39:30,9954,Proactive Police Visit,Proactive Police Visit,NaN,3,3 - West Side,170X LILYDALE ST,A,Advised,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204468,18021099,01/30/2018,22:43:00,9954,Proactive Police Visit,Proactive Police Visit,NaN,17,17 - Capitol River,11X 10 ST E,A,Advised,1
204819,18043425,03/01/2018,22:49:58,9954,Proactive Police Visit,Proactive Police Visit,NaN,12,12 - St. Anthony,55X VANDALIA ST,A,Advised,1
207374,17284027,12/10/2017,9:36:00,9954,Proactive Police Visit,Proactive Police Visit,NaN,3,3 - West Side,LILYDALE ST & LILYDALE,A,Advised,1
208404,18039309,02/24/2018,10:15:23,9954,Proactive Police Visit,Proactive Police Visit,NaN,3,3 - West Side,170X LILYDALE ST,A,Advised,1
230328,20003804,01/06/2020,2020-01-06T13:38:55.000,9954,Proactive Police Visit,Proactive Police Visit,51.0,6,6 - North End,NaN,A,Advised,1

In [4]:
# Another way to look for missing values
crime_df.count()

CASE NUMBER              253709
DATE                     253709
TIME                     253706
CODE                     253709
INCIDENT TYPE            253709
INCIDENT                 253709
POLICE GRID NUMBER       253619
NEIGHBORHOOD NUMBER      253709
NEIGHBORHOOD NAME        251518
BLOCK                    253705
CALL DISPOSITION CODE    253709
CALL DISPOSITION         253709
Count                    253709
dtype: int64

In [5]:
# Drop null rows
no_null_crime_df = crime_df.dropna(how='any')

In [6]:
 # Verify counts
no_null_crime_df.count()

CASE NUMBER              251421
DATE                     251421
TIME                     251421
CODE                     251421
INCIDENT TYPE            251421
INCIDENT                 251421
POLICE GRID NUMBER       251421
NEIGHBORHOOD NUMBER      251421
NEIGHBORHOOD NAME        251421
BLOCK                    251421
CALL DISPOSITION CODE    251421
CALL DISPOSITION         251421
Count                    251421
dtype: int64

In [34]:
# Look at types of Call Disposition
no_null_crime_df["CALL DISPOSITION"].unique()

array(['Advised', 'Report Written', 'Gone on Arrival',
       'RR - Report Written', 'A - Advised', 'G - Gone on Arrival',
       'R - Report Written', '10 - Como', '5 - Payne/Phalen',
       '15 - Highland', '8 - Summit/University', '6 - North End',
       '7 - Thomas/Dale(Frogtown)', '11 - Hamline/Midway',
       '12 - St. Anthony', '14 - Macalester-Groveland',
       "4 - Dayton's Bluff", '1 - Conway/Battlecreek/Highwood',
       '17 - Capitol River', '13 - Union Park', '9 - West Seventh',
       '3 - West Side', '16 - Summit Hill', '2 - Greater East Side'],
      dtype=object)

In [15]:
no_null_crime_df["DATE"].value_counts()

08/07/2018    488
08/06/2019    436
08/01/2017    417
05/19/2020    301
06/30/2017    261
             ...
03/04/2015     32
03/08/2015     32
05/01/2019      3
12/24/2014      2
04/04/2017      1
Name: DATE, Length: 2041, dtype: int64

In [31]:
no_null_crime_df["NEIGHBORHOOD NAME"].value_counts()

17 - Capitol River                 27869
5 - Payne/Phalen                   25863
6 - North End                      21190
13 - Union Park                    20726
7 - Thomas/Dale(Frogtown)          17897
8 - Summit/University              15233
3 - West Side                      15107
2 - Greater East Side              14768
4 - Dayton's Bluff                 14471
11 - Hamline/Midway                14209
15 - Highland                      11567
1 - Conway/Battlecreek/Highwood    11417
9 - West Seventh                    9961
10 - Como                           9367
14 - Macalester-Groveland           8351
16 - Summit Hill                    5797
12 - St. Anthony                    5552
Advised                             1420
Report Written                       594
Gone on Arrival                       62
Name: NEIGHBORHOOD NAME, dtype: int64

In [8]:
# Look at 'INCIDENT TYPE' and 'INCIDENT' to see if there are similar values
no_null_crime_df["INCIDENT TYPE"].value_counts()

Proactive Police Visit                               109270
Theft, Except Auto Theft                              17070
Motor Vehicle Theft, Automobile                        9865
Narcotics                                              9307
Criminal Damage to Property                            8770
                                                      ...
Robbery, Service Station, Other Dangerous Weapons         1
Arson, Residential, Multiple, Abandoned, Other            1
Theft, From Coin Operated Device, Over $1000              1
Narcotics, Selling Opium, Cocaine, Etc.                   1
Graffiti-Gang (Felony, Over $500)                         1
Name: INCIDENT TYPE, Length: 175, dtype: int64

In [9]:
# INCIDENT
no_null_crime_df["INCIDENT"].value_counts()

Proactive Police Visit        109270
Theft                          54312
Vandalism                      16675
Auto Theft                     14634
Narcotics                      13950
Burglary                       12735
Simple Asasult Dom.             6541
Community Engagement Event      6037
Discharge                       5887
Robbery                         3894
Agg. Assault                    2591
Agg. Assault Dom.               2416
Graffiti                         992
Rape                             873
Arson                            572
Homicide                          24
Simple Assault Dom.               16
Other                              2
Name: INCIDENT, dtype: int64

In [10]:
# Combine 'Simple Assault Dom.' (one is misspelled)
no_null_crime_df = no_null_crime_df.replace(
                            {"Simple Asasult Dom.": "Simple Assault Dom."})

# Check value counts again
no_null_crime_df["INCIDENT"].value_counts()

Proactive Police Visit        109270
Theft                          54312
Vandalism                      16675
Auto Theft                     14634
Narcotics                      13950
Burglary                       12735
Simple Assault Dom.             6557
Community Engagement Event      6037
Discharge                       5887
Robbery                         3894
Agg. Assault                    2591
Agg. Assault Dom.               2416
Graffiti                         992
Rape                             873
Arson                            572
Homicide                          24
Other                              2
Name: INCIDENT, dtype: int64

In [11]:
# Use this code if I want to keep both date and time under 'TIME' column
# NOTE: Tableau, this formatting works
# Tableau code: Right-click the field, then Default Properties\Date Format. 
# Then click Custom and paste this into the blank: h:mm:ss AMPM

ser = no_null_crime_df['TIME']
time = pd.to_datetime(ser)
time

0        2020-06-04 23:32:12
1        2020-06-04 06:56:00
2        2019-03-29 00:14:00
3        2020-06-04 19:29:00
4        2020-06-04 06:41:13
                 ...
253704   2020-05-19 00:44:03
253705   2020-05-17 12:15:00
253706   2020-05-20 14:00:00
253707   2020-05-18 23:33:00
253708   2020-05-19 08:12:00
Name: TIME, Length: 251421, dtype: datetime64[ns]

In [12]:
# This code will just give me the timestamp
# NOTE: This code also works in Tableau
ser = no_null_crime_df['TIME']
time = pd.to_datetime(ser).dt.time
time

0         23:32:12
1         06:56:00
2         00:14:00
3         19:29:00
4         06:41:13
            ...
253704    00:44:03
253705    12:15:00
253706    14:00:00
253707    23:33:00
253708    08:12:00
Name: TIME, Length: 251421, dtype: object

In [13]:
# Insert new column ('NEW TIME') into dataframe to replace 'TIME' column
no_null_crime_df.insert(2, 'NEW TIME', time)
no_null_crime_df.head()

,CASE NUMBER,DATE,NEW TIME,TIME,CODE,INCIDENT TYPE,INCIDENT,POLICE GRID NUMBER,NEIGHBORHOOD NUMBER,NEIGHBORHOOD NAME,BLOCK,CALL DISPOSITION CODE,CALL DISPOSITION,Count
0,18218701,09/22/2018,23:32:12,23:32:12,9954,Proactive Police Visit,Proactive Police Visit,105.0,13,13 - Union Park,137X STANTHONY AV,A,Advised,1
1,17042545,02/27/2017,06:56:00,6:56,1400,Criminal Damage to Property,Vandalism,71.0,6,6 - North End,13X WINNIPEG AV,A,Advised,1
2,19063393,03/29/2019,00:14:00,2019-03-29T00:14:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,98.0,1,1 - Conway/Battlecreek/Highwood,166X MARGARET ST,RR,Report Written,1
3,16260773,12/21/2016,19:29:00,19:29,1410,"Criminal Damage to Property (Misdemeanor, Unde...",Vandalism,70.0,6,6 - North End,84X GALTIER ST,RR,Report Written,1
4,18109307,05/23/2018,06:41:13,6:41:13,9954,Proactive Police Visit,Proactive Police Visit,207.0,9,9 - West Seventh,108X MONTREAL AV,A,Advised,1

In [14]:
# Drop old 'TIME' column
no_null_crime_df = no_null_crime_df.drop(['TIME'], axis = 1)
no_null_crime_df.head()

,CASE NUMBER,DATE,NEW TIME,CODE,INCIDENT TYPE,INCIDENT,POLICE GRID NUMBER,NEIGHBORHOOD NUMBER,NEIGHBORHOOD NAME,BLOCK,CALL DISPOSITION CODE,CALL DISPOSITION,Count
0,18218701,09/22/2018,23:32:12,9954,Proactive Police Visit,Proactive Police Visit,105.0,13,13 - Union Park,137X STANTHONY AV,A,Advised,1
1,17042545,02/27/2017,06:56:00,1400,Criminal Damage to Property,Vandalism,71.0,6,6 - North End,13X WINNIPEG AV,A,Advised,1
2,19063393,03/29/2019,00:14:00,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,98.0,1,1 - Conway/Battlecreek/Highwood,166X MARGARET ST,RR,Report Written,1
3,16260773,12/21/2016,19:29:00,1410,"Criminal Damage to Property (Misdemeanor, Unde...",Vandalism,70.0,6,6 - North End,84X GALTIER ST,RR,Report Written,1
4,18109307,05/23/2018,06:41:13,9954,Proactive Police Visit,Proactive Police Visit,207.0,9,9 - West Seventh,108X MONTREAL AV,A,Advised,1

In [15]:
# Save to CSV and explore in Tableau
no_null_crime_df.to_csv("Resources/cleaned_cities.csv", encoding="utf-8")

In [ ]:
no_null_crime_df

In [ ]:
no_null_crime_df.dtypes

In [ ]:
no_null_crime_df['TIME']

In [ ]:
ser = no_null_crime_df['TIME']
new_date = pd.to_datetime(ser).dt.time

In [ ]:
new_date

In [ ]:
dfc['Time_of_Sail'] = pd.to_datetime(dfc['Time_of_Sail'],format= '%H:%M:%S' ).dt.time

In [ ]:
>>> ser = pd.Series(['NaT', '01.01.2016', '01.01.2016 01:01:01'])
>>> pd.to_datetime(ser)