In [1]:
# Dependencies
import pandas as pd
import datetime as dt
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# Read csv into a dataframe
crime_df = pd.read_csv("Resources/crime_report.csv")
crime_df

,CASE NUMBER,DATE,TIME,CODE,INCIDENT TYPE,INCIDENT,POLICE GRID NUMBER,NEIGHBORHOOD NUMBER,NEIGHBORHOOD NAME,BLOCK,CALL DISPOSITION CODE,CALL DISPOSITION,Count
0,18218701,09/22/2018,23:32:12,9954,Proactive Police Visit,Proactive Police Visit,105.0,13,13 - Union Park,137X STANTHONY AV,A,Advised,1
1,17042545,02/27/2017,6:56,1400,Criminal Damage to Property,Vandalism,71.0,6,6 - North End,13X WINNIPEG AV,A,Advised,1
2,19063393,03/29/2019,2019-03-29T00:14:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,98.0,1,1 - Conway/Battlecreek/Highwood,166X MARGARET ST,RR,Report Written,1
3,16260773,12/21/2016,19:29,1410,"Criminal Damage to Property (Misdemeanor, Unde...",Vandalism,70.0,6,6 - North End,84X GALTIER ST,RR,Report Written,1
4,18109307,05/23/2018,6:41:13,9954,Proactive Police Visit,Proactive Police Visit,207.0,9,9 - West Seventh,108X MONTREAL AV,A,Advised,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
253704,20093597,05/19/2020,2020-05-19T00:44:03.000,600,"Theft, Except Auto Theft",Theft,153.0,17,17 - Capitol River,34X JACKSON ST,G,Gone on Arrival,1
253705,20802568,05/17/2020,2020-05-17T12:15:00.000,641,"Theft, From Auto, Under $500",Theft,153.0,17,17 - Capitol River,11X KELLOGG BD E,RR,Report Written,1
253706,20094807,05/20/2020,2020-05-20T14:00:00.000,622,"Theft, Purse Snatching, $501 to $1000",Theft,153.0,17,17 - Capitol River,5 ST E & MINNESOTA,RR,Report Written,1
253707,20093563,05/18/2020,2020-05-18T23:33:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,153.0,17,17 - Capitol River,5 ST E & CEDAR,RR,Report Written,1
253708,20093746,05/19/2020,2020-05-19T08:12:00.000,2619,"Weapons, Discharging a Firearm in the City Limits",Discharge,153.0,17,17 - Capitol River,10X 5 ST E,RR,Report Written,1

# Clean Up/Explore Data

In [3]:
# Pull out all rows with nan's just to see
crime_nan = crime_df[crime_df.isna().any(axis=1)]
crime_nan.head()

,CASE NUMBER,DATE,TIME,CODE,INCIDENT TYPE,INCIDENT,POLICE GRID NUMBER,NEIGHBORHOOD NUMBER,NEIGHBORHOOD NAME,BLOCK,CALL DISPOSITION CODE,CALL DISPOSITION,Count
1020,18054879,03/17/2018,8:59:26,9954,Proactive Police Visit,Proactive Police Visit,NaN,3,3 - West Side,LILYDALE RD & WATER,A,Advised,1
2698,18071249,04/08/2018,2:49:00,1835,"Narcotics, Possession of Marijuana",Narcotics,NaN,10,10 - Como,DALE ST N & IOWA,RR,Report Written,1
6431,18008414,01/13/2018,5:27:01,9954,Proactive Police Visit,Proactive Police Visit,NaN,5,5 - Payne/Phalen,60X LAFAYETTE RD S,A,Advised,1
10170,18224827,09/30/2018,00:50:09,9954,Proactive Police Visit,Proactive Police Visit,NaN,5,5 - Payne/Phalen,50X LAFAYETTE RD,A,Advised,1
11561,18025800,02/06/2018,9:39:30,9954,Proactive Police Visit,Proactive Police Visit,NaN,3,3 - West Side,170X LILYDALE ST,A,Advised,1

In [4]:
# Another way to look for missing values
crime_df.count()

CASE NUMBER              253709
DATE                     253709
TIME                     253706
CODE                     253709
INCIDENT TYPE            253709
INCIDENT                 253709
POLICE GRID NUMBER       253619
NEIGHBORHOOD NUMBER      253709
NEIGHBORHOOD NAME        251518
BLOCK                    253705
CALL DISPOSITION CODE    253709
CALL DISPOSITION         253709
Count                    253709
dtype: int64

In [5]:
# Drop null rows
no_null_crime_df = crime_df.dropna(how='any')

In [6]:
 # Verify counts
no_null_crime_df.count()

CASE NUMBER              251421
DATE                     251421
TIME                     251421
CODE                     251421
INCIDENT TYPE            251421
INCIDENT                 251421
POLICE GRID NUMBER       251421
NEIGHBORHOOD NUMBER      251421
NEIGHBORHOOD NAME        251421
BLOCK                    251421
CALL DISPOSITION CODE    251421
CALL DISPOSITION         251421
Count                    251421
dtype: int64

### Look at dates

In [7]:
# Need to know the oldest and most recent dates in the dataset

# Change DATE column into datatime and then sort by date
no_null_crime_df['DATE'] = pd.to_datetime(no_null_crime_df['DATE'])
# Need to reset index for iloc
no_null_crime_df = no_null_crime_df.sort_values('DATE').reset_index(drop = True)

# Preview
no_null_crime_df

C:\Users\test\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,CASE NUMBER,DATE,TIME,CODE,INCIDENT TYPE,INCIDENT,POLICE GRID NUMBER,NEIGHBORHOOD NUMBER,NEIGHBORHOOD NAME,BLOCK,CALL DISPOSITION CODE,CALL DISPOSITION,Count
0,14172444,2014-08-14,23:00,710,"Motor Vehicle Theft, Automobile",Auto Theft,55.0,5,5 - Payne/Phalen,97X MENDOTA ST,RR,Report Written,1
1,14171809,2014-08-14,16:11,861,"Assault, Domestic, Opposite Sex",Simple Asasult Dom.,76.0,4,4 - Dayton's Bluff,118X MINNEHAHA AV E,RR,Report Written,1
2,14171807,2014-08-14,16:06,630,"Theft, Shoplifting",Theft,110.0,17,17 - Capitol River,42X RICE ST,R,Report Written,1
3,14171838,2014-08-14,16:51,600,"Theft, Except Auto Theft",Theft,152.0,17,17 - Capitol River,9X 4 ST W,A,Advised,1
4,14171428,2014-08-14,8:19,600,"Theft, Except Auto Theft",Theft,133.0,17,17 - Capitol River,6 ST E & SIBLEY,A,Advised,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
251416,20094515,2020-05-20,2020-05-20T02:31:18.000,9954,Proactive Police Visit,Proactive Police Visit,49.0,6,6 - North End,44X MARYLAND AV W,A,Advised,1
251417,20094481,2020-05-20,2020-05-20T01:04:48.000,9954,Proactive Police Visit,Proactive Police Visit,49.0,6,6 - North End,44X MARYLAND AV W,A,Advised,1
251418,20094444,2020-05-20,2020-05-20T00:03:21.000,9954,Proactive Police Visit,Proactive Police Visit,49.0,6,6 - North End,44X MARYLAND AV W,A,Advised,1
251419,20095124,2020-05-20,2020-05-20T20:14:43.000,9954,Proactive Police Visit,Proactive Police Visit,71.0,6,6 - North End,94X RICE ST,A,Advised,1
251420,20094885,2020-05-20,2020-05-20T16:10:47.000,9954,Proactive Police Visit,Proactive Police Visit,31.0,6,6 - North End,4X ARLINGTON AV W,A,Advised,1

In [8]:
# Datset start and end dates
first_date = no_null_crime_df.iloc[0][1]
print(f"The earliest date recorded in the dataset: {first_date}")
last_date = no_null_crime_df.iloc[251420][1]
print(f"The most recent date recorded in the dataset: {last_date}")

The earliest date recorded in the dataset: 2014-08-14 00:00:00
The most recent date recorded in the dataset: 2020-05-20 00:00:00

OBSERVATION:    
When looking at trends, I'll want to start January 1, 2015 and end December 31, 2019 for accuracy purposes.  Unless I want to try to make predictions for 2020.

### Types of calls

In [9]:
# Look at types of Call Disposition
no_null_crime_df["CALL DISPOSITION CODE"].unique()

array(['RR', 'R', 'A', 'G'], dtype=object)

In [10]:
# Combine 'RR' and 'R' because they both stand for Report Written from what I can tell from the official dataset
no_null_crime_df = no_null_crime_df.replace({'R': 'RR'})

# Check unique codes again
no_null_crime_df["CALL DISPOSITION CODE"].unique()

array(['RR', 'A', 'G'], dtype=object)

In [11]:
# Look at 'INCIDENT TYPE' and 'INCIDENT' to see if there are similar values
no_null_crime_df["INCIDENT TYPE"].value_counts()

Proactive Police Visit                               109270
Theft, Except Auto Theft                              17070
Motor Vehicle Theft, Automobile                        9865
Narcotics                                              9307
Criminal Damage to Property                            8770
                                                      ...
Theft, From Coin Operated Device, $501 to $1000           1
Robbery, Service Station, Other Dangerous Weapons         1
Arson, Commercial, Indust/Manu, Other                     1
Murder, Manslaughter By Negligence                        1
Arson, Residential, Multiple, Abandoned, Other            1
Name: INCIDENT TYPE, Length: 175, dtype: int64

In [12]:
# INCIDENT
no_null_crime_df["INCIDENT"].value_counts()

Proactive Police Visit        109270
Theft                          54312
Vandalism                      16675
Auto Theft                     14634
Narcotics                      13950
Burglary                       12735
Simple Asasult Dom.             6541
Community Engagement Event      6037
Discharge                       5887
Robbery                         3894
Agg. Assault                    2591
Agg. Assault Dom.               2416
Graffiti                         992
Rape                             873
Arson                            572
Homicide                          24
Simple Assault Dom.               16
Other                              2
Name: INCIDENT, dtype: int64

In [13]:
# Combine 'Simple Assault Dom.' (one is misspelled)
no_null_crime_df = no_null_crime_df.replace(
                            {"Simple Asasult Dom.": "Simple Assault Dom."})

# Check value counts again
no_null_crime_df["INCIDENT"].value_counts()

Proactive Police Visit        109270
Theft                          54312
Vandalism                      16675
Auto Theft                     14634
Narcotics                      13950
Burglary                       12735
Simple Assault Dom.             6557
Community Engagement Event      6037
Discharge                       5887
Robbery                         3894
Agg. Assault                    2591
Agg. Assault Dom.               2416
Graffiti                         992
Rape                             873
Arson                            572
Homicide                          24
Other                              2
Name: INCIDENT, dtype: int64

In [14]:
# Use this code if I want to keep both date and time under 'TIME' column
# NOTE: Tableau, this formatting works
# Tableau code: Right-click the field, then Default Properties\Date Format. 
# Then click Custom and paste this into the blank: h:mm:ss AMPM

ser = no_null_crime_df['TIME']
time = pd.to_datetime(ser)
time

0        2020-06-12 23:00:00
1        2020-06-12 16:11:00
2        2020-06-12 16:06:00
3        2020-06-12 16:51:00
4        2020-06-12 08:19:00
                 ...
251416   2020-05-20 02:31:18
251417   2020-05-20 01:04:48
251418   2020-05-20 00:03:21
251419   2020-05-20 20:14:43
251420   2020-05-20 16:10:47
Name: TIME, Length: 251421, dtype: datetime64[ns]

In [15]:
# This code will just give me the timestamp
# NOTE: This code also works in Tableau
ser = no_null_crime_df['TIME']
time = pd.to_datetime(ser).dt.time
time

0         23:00:00
1         16:11:00
2         16:06:00
3         16:51:00
4         08:19:00
            ...
251416    02:31:18
251417    01:04:48
251418    00:03:21
251419    20:14:43
251420    16:10:47
Name: TIME, Length: 251421, dtype: object

In [16]:
# Insert new column ('NEW TIME') into dataframe to replace 'TIME' column
no_null_crime_df.insert(2, 'NEW TIME', time)

# Drop old 'TIME' column
no_null_crime_df = no_null_crime_df.drop(['TIME'], axis = 1)

# Preview
no_null_crime_df.head()

,CASE NUMBER,DATE,NEW TIME,CODE,INCIDENT TYPE,INCIDENT,POLICE GRID NUMBER,NEIGHBORHOOD NUMBER,NEIGHBORHOOD NAME,BLOCK,CALL DISPOSITION CODE,CALL DISPOSITION,Count
0,14172444,2014-08-14,23:00:00,710,"Motor Vehicle Theft, Automobile",Auto Theft,55.0,5,5 - Payne/Phalen,97X MENDOTA ST,RR,Report Written,1
1,14171809,2014-08-14,16:11:00,861,"Assault, Domestic, Opposite Sex",Simple Assault Dom.,76.0,4,4 - Dayton's Bluff,118X MINNEHAHA AV E,RR,Report Written,1
2,14171807,2014-08-14,16:06:00,630,"Theft, Shoplifting",Theft,110.0,17,17 - Capitol River,42X RICE ST,RR,Report Written,1
3,14171838,2014-08-14,16:51:00,600,"Theft, Except Auto Theft",Theft,152.0,17,17 - Capitol River,9X 4 ST W,A,Advised,1
4,14171428,2014-08-14,08:19:00,600,"Theft, Except Auto Theft",Theft,133.0,17,17 - Capitol River,6 ST E & SIBLEY,A,Advised,1

In [ ]:
# Save to CSV and explore in Tableau
no_null_crime_df.to_csv("Resources/cleaned_cities.csv", encoding="utf-8")

## Looking at Incidents Over Time

In [ ]:
# Only want years 2015 thru 2019
# I created one dataset per year and then merged
# There has to be a faster way, but after spending a chunk of time on it, I need to move in.  This works for now.
include15 = no_null_crime_df.loc[no_null_crime_df['DATE'].dt.year == 2015, :]
include16 = no_null_crime_df.loc[no_null_crime_df['DATE'].dt.year == 2016, :]
include17 = no_null_crime_df.loc[no_null_crime_df['DATE'].dt.year == 2017, :]
include18 = no_null_crime_df.loc[no_null_crime_df['DATE'].dt.year == 2018, :]
include19 = no_null_crime_df.loc[no_null_crime_df['DATE'].dt.year == 2019, :]

In [ ]:
# Merge all the datasets together
five_six = pd.merge(include15, include16, how="outer")
six_seven = pd.merge(five_six, include17, how="outer")
seven_eight = pd.merge(six_seven, include18, how="outer")
full_df = pd.merge(seven_eight, include19, how="outer")

# Preview
full_df.head()

In [ ]:
# Want to graph by year, so pull year out of Date and create new column

full_df["YEAR"] = pd.DatetimeIndex(full_df["DATE"]).year

# Preview to make sure it worked
full_df.head()

In [17]:
# Group the dataframe by Year and Incident
grouped_df = no_null_crime_df.groupby(["YEAR", "INCIDENT"])
Incident_Total = grouped_df["INCIDENT"].count()

# Create dataframe
Incident_Total_df = pd.DataFrame(Incident_Total)
# Preview
Incident_Total_df

KeyError: 'YEAR'

In [ ]:
# Reset the index and rename the column
Incident_Total_df = Incident_Total_df.rename(columns={"INCIDENT": "Count"}).reset_index()
# Preview
Incident_Total_df

In [ ]:
# Reset the index and rename the column
Incident_Total_df = Incident_Total_df.set_index("YEAR")
# Preview
Incident_Total_df

In [ ]:
Incident_Total_df.columns

In [ ]:
# Pivot the dataframe for graphing purposes
pivot_df = Incident_Total_df.pivot(index = "YEAR", 
                                   columns = "INCIDENT",
                                   values = "Count")
pivot_df

In [ ]:
incidents_df = pivot_df[["Agg. Assault", "Agg. Assault Dom.", "Arson","Auto Theft", "Burglary",
                         "Discharge", "Graffiti", "Homicide", "Narcotics", "Rape", "Robbery",
                         "Simple Assault Dom.", "Theft", "Vandalism"]]
incidents_df

In [ ]:
incidents_df.plot(kind="line", figsize=(20,6))
# Set a title for the chart
plt.title("Total Incidents, 2014-2020")

plt.show()
plt.tight_layout()